@font-face {
  font-family: 'Guisol';
  src: url('./assets/font/Guisol.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/font/HelveticaNeue-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --primary : #FFFFFF;
  --secondary : #bee8ff;
  --tertiary : #7f2525;
  --quaternary : #ff7f7f;
  --quinary : #3c0101;

  --background: #0e0707;
  --background-light: #181414;

  --text-body: var(--secondary);
  --text-strong: var(--primary);
  --heading-1: var(--primary);
  --heading-2: var(--tertiary);
  --heading-3: var(--quinary);
  --heading-4: var(--quinary);
  --heading-5: var(--quinary);

  font-family: HelveticaNeue, Helvetica, Arial, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Credits to Valentin Bossens */
.grain::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.08;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.vr {
  border-left:1px solid #FFF;
  height:auto;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
